extends layout

block content
  h1 Sarelly Dashboard
  p.lead An internal KPIs dashboard web app
  hr
  .row
    .col-md-6
      h2 Revenues and Traffic
      p Explore Revenues and traffic data for Sarelly Sarelly
      p
        a.btn.btn-primary(href='/revenues/dashboard', role='button') View details »
    .col-md-6
      h2 Shipping KPIs
      p Explore Logistics and Shipping data
      p
        a.btn.btn-primary(href='/shipping/dashboard', role='button') View details »
    