extends ./../layout.pug

block content
  h1 Sarelly Shipping Dashboard
  p.lead Historical Revenues data
  .row
    .col-md-6
      h2 Shipping KPIs
      p Explore Logistics and Shipping data
      p
        a.btn.btn-primary(href='#', role='button') View details »
    