extends ./../layout.pug

block content
  h1 Sarelly Revenues Dashboard
  p.lead Historical Revenues data
  .row
    .col-md-6
      h2 Revenues and Traffic
      p Explore Revenues and traffic data for Sarelly Sarelly
      p
        a.btn.btn-primary(href='#', role='button') View details »